<h1 class="display-5 text-center"> Move item <%= @item.description %> from box <%= @item.box.name %> to: </h1>
<%= form_with url: move_path, model: @item, method: :put do |form| %>
  <%= render partial: "/shared/errors", locals: {model: @item} %>
  <div class="field">
    <%= form.label :box %>
    <%= form.select :box, get_available_boxes(@item) %>
  </div>
  <div class="field">
  <%= form.submit "Move", class: "btn btn-success btn-lg btn-block m-3" %>
<% end %>
