<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <%= f.hidden_field :account_id, value:  current_user.account.id %>
  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="field">
      <%= f.label field %><br />
      <%= f.text_field field, class: "form-control" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Send", class: "btn btn-success mt-3" %>
  </div>
<% end %>
